<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Thông tin sinh <var></var></title>
    <link rel="stylesheet" type ="text/css" href = "/css/web.css" />
    <link rel="stylesheet" type ="text/css" href = "/css/style_teacherr.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- sweetalert -->
    <link rel='stylesheet' href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css'>
    <script src='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js'></script>
    <style>
        form input{
            width: 350px;
            line-height: 35px;

        }
        form{
            margin: 30px auto;
            padding: 20px;
        }
        select{
            width: 350px;
            height: 35px;
        }
        #submit{
            background-color: rgb(129, 129, 207);
            border-radius: 10px;
        }
      </style>
</head>
<body>
    <header>
        <h3>Hệ Thống Thông Tin Sinh Viên</h3>
    </header>
    <div class = "header">
        <div class = "logo"><img src = '/image/logo.png' style = "width : 50px;" /></div>
        <div class = "menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/admin_home"  title=" THÔNG BÁO">THÔNG BÁO</a></li>
                <li><a href="/admin/admin_teacher"  title="GIANG VIÊN">GIẢNG VIÊN</a></li>
                <li><a href="/admin/admin_student"  title="SINH VIÊN">SINH VIÊN</a></li>
                <li><a href="/logout"  title="ĐĂNG XUẤT"><b>ĐĂNG XUẤT</b></a></li>
        </div>
        <div class = "other"><span><a href=""> Admin</a></span><i class="glyphicon glyphicon-user"></i></div>
    </div>
    <div style="display: flex; margin:10px 0 0 200px; ">
        <a href="/admin/admin_home" class="btn btn-info btn-lg" style=" margin:0px 200px 0 0px; height: 45px;">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
        </a>
    </div>
    <div style="display: flex; margin:10px 0 0 500px; ">
        <span><h3>Thêm thông báo</h3> <hr></span>
    </div>
    
    <form align='center' id='form4' action='/admin/admin_home' method="POST" style="border: 2px solid grey; width: 600px;">
        <label for="title">Tiêu đề</label></br>
        <input name = "title" id='input1' type="text" ></br>
        <label for="url">URL </label></br>
        <input name = "url" id='input8' type="text"></br></br>
        <input  type="submit" value="Lưu thông tin" id="submit" />
    </form>
    <footer></br>HUST &copy; @author_PhanTrang</footer>

</body>
</html>